<!-- @format -->

<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Param Technologies</title>
    <meta name="description" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
    />
    <!-- Icon - IconMonster -->
    <link
      rel="stylesheet"
      href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css"
    />
    <!-- Mumble UI -->
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
    <!-- Dev Search UI -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />

    {% block head-content %} {% endblock head-content %}
  </head>
  <body>
  <div class ="body">
    <section class="ftco-section">
      <div class="wrap">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col">
              <p class="mb-0 phone">
                <span class="fa fa-phone"></span> <a href="#">+00 1234 567</a>
              </p>
            </div>
            <div class="col d-flex justify-content-end">
              <div class="social-media">
                <p class="mb-0 d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-facebook"
                      ><i class="sr-only">Facebook</i></span
                    ></a
                  >
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-twitter"
                      ><i class="sr-only">Twitter</i></span
                    ></a
                  >
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="fa fa-instagram"
                      ><i class="sr-only">Instagram</i></span
                    ></a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav
        class="
          navbar navbar-expand-lg 
          ftco_navbar
          
          ftco-navbar-light
        "
        id="ftco-navbar"
      >
        <div class="container">
          <a class="navbar-brand" href="/">Param <span>Technologies</span></a>
          <form
            method="GET"
            action="#"
            class="searchform order-sm-start order-lg-last"
          >
            <div class="form-group d-flex">
              {% comment %}
              <input
                type="text"
                class="form-control pl-3"
                placeholder="Search"
              />
              {% endcomment %} {{ myfilter.form }} {% comment %}
              <button type="submit" placeholder="" class="form-control search">
                <span class="fa fa-search"></span>
              </button>
              {% endcomment %}
            </div>
          </form>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#ftco-nav"
            aria-controls="ftco-nav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="fa fa-bars"></span> Menu
          </button>
          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav m-auto">
              <li class="nav-item active">
                <a href="/" class="nav-link">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="dropdown04"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Master</a
                >
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="{% url 'visitor' %}"
                    >Visitor's Details</a
                  >
                  <a class="dropdown-item" href="{% url 'contractor' %}"
                    >Contractor's Details</a
                  >
                  {% comment %} <a class="dropdown-item" href="{% url 'userProfile' %}">User Details</a> {% endcomment %}
                  <a class="dropdown-item" href="{% url 'add-visitor' %}"
                    >Add Visitor</a
                  >

                  <a class="dropdown-item" href="{% url 'add-contractor' %}"
                    >Add Contractor</a
                  >
                </div>
              </li>
              {% if user.is_authenticated %} 
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="dropdown04"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Reports</a
                >
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="{% url 'visitor_text' %}"
                    >visitors report in txt</a
                  >
                  <a class="dropdown-item" href="{% url 'visitor_csv' %}"
                    >visitors report in csv</a
                  >
                  <a class="dropdown-item" href="{% url 'visitor_pdf' %}"
                    >visitors report in pdf</a
                  >

                  <a class="dropdown-item" href="{% url 'contractor_text' %}">Contractors report in txt</a>
                  <a class="dropdown-item" href="{% url 'contractor_csv' %}">Contractors report in csv</a>
                  <a class="dropdown-item" href="{% url 'contractor_pdf' %}">Contractors report in pdf</csv</a>
                  <a class="dropdown-item" href="#"></a>
                </div>
              </li>
              {% endif %}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="dropdown04"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Appointments</a
                >
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="{% url 'cancelled'%}">Cancelled Appointments</a>
                  <a class="dropdown-item" href="{% url 'employeeAppoints'%}"
                    >Employeewise Appointments</a
                  >
                  <a class="dropdown-item" href="{% url 'visitorAppoints'%}">Visitorwise Appointments</a>
                  <a class="dropdown-item" href="#"
                    >Contractorwise Appointments</a
                  >
                  <a class="dropdown-item" href="{% url 'banned' %}">Banned</a>
                </div>
              </li>
              <li class="nav-item"><a href="{% url 'all_events' %}" class="nav-link">Events</a></li>
              {% comment %} <li class="nav-item"><a href="admin" class="nav-link">Admin</a></li> {% endcomment %}
              {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
                {% else %}
              <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
              {% endif %}
          </div>
        </div>
      </nav>
      <!-- END nav -->
    </section>

    {% block content %} {% endblock content %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    </div>
    <footer id="footer" role="contentinfo">
    <div class="footer-wrapper">
    <p>Param Technologies</p>
    </div>
    </footer>
  </body>
</html>
